@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
/*
colors to use if possible (descending) :
#FF7B89
#8A5082
#6F5F90 
#758EB7 - base
#A5CAD2
*/

#outerContainer{
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 80%;
    height: 85%;
    box-sizing: content-box;
    background: #758EB7;
    /* border-radius: 10px; */
}

#buttons{
    margin-top: -8vh;
    margin-left: -8vw;
    margin-right: -8vw;
    margin-bottom: 2vh;
    height: 5vh;
    background: #8A5082;
}

#leftContainer{
    float: left;
    margin-left: -8vw;
    width: 7vw;
    height: 100%;
    background: #8A5082;
}

#rightContainer{
    float: right;
    margin-right: -8vw;
    width: 7vw;
    height: 100%;
    background: #8A5082;
}

innerContainer{
    float: left;
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    background: #A5CAD2;
    /* border-radius: 10px; */
}
 #impressum {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    background: #8A5082;
 }
 #impressum > p {
    font-family: "Lucida Console", monospace;
    text-align: center;
    font-size: 15px;
 }

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}
#buttons > nav {
    position: relative;
    left: 1%;
    top: 25%;
}