@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #04202C;
}

#search-component > #search-box {
    width: 200px;
    height: 30px;
}
#search-component > div {
    position: absolute;
}

.search-result.search-result.search-result.search-result{
    position: relative;
    z-index: 90000;
    cursor: pointer;
    width: 200px;
    height: 30px;
}